---
---

@charset "utf-8";

// Some common colours
$black: #000000;
$white: #ffffff;
$link: $white;
$cardiff-dark: #990000;
$cardiff-bright: #ff0000;
$cardiff-complement: #111;
$red-warn: $cardiff-bright;
$green-ok: #00cc00;
$option-slected: $cardiff-bright;

// Text
$fonts: Arial, Helvetica, sans-serif;
$title-font-size: 36px;
$module-font-size: 18px;
$text-color: $white;
$text-shadow-style: 1px 1px $black;

// Backgrounds
$bg-d: #111;
$bg-l: lighten($bg-d, 1%);
$background-style: 45deg, $bg-d 25%, $bg-l 25%, $bg-l 50%, $bg-d 50%, $bg-d 75%, $bg-l 75%;
$middle-bg: #222;

// Other fancy stuff
$corner-radius: 10px;
$shadow-style: 5px 5px 3px $black;
$inset-shadow-style: inset $shadow-style;
$menu-border-style: 1px solid $cardiff-bright;

$code-border-style: solid 1px $white ;

@mixin box-style($bg-color) {
        padding: 20px;
        background-color: $bg-color;
        @include box-shadow($shadow-style);
}

@import "_layout",
        "_mixins",
        "_style"
