body {
  background-color: #000000;
}

h1 {
  color: #ffffff;
}

a {
  color: #000000;
}

div.degree {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.course > h2 {
  max-width: 350px;
  padding: 10px;
  margin: 10px;
  background-color: #990000;
  font-size: 18px;
}



div.provides {
  display: none;
}

div.planner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  div.planner {
    flex-direction: column;
  }
}

div.year {
  flex-grow: 1;
}

div.module {
  max-width: 350px;
  padding: 10px;
  margin: 10px;
}

div.core > div.module {
  background-color: #990000;
}

div.core > div.module > h2 {
  font-size: 18px;
}

div.core > div.module > .requires {
    display: none;
}

div.optional > div.module {
  background-color: #aaaaaa;
}

div.optional > div.module > h2 {
  font-size: 18px;
}

div.optional > div.module > ul.requires,
div.optional > div.module > p {
  display: none;
}

div.optional > div.selected {
  background-color: #ff0000;
}
