body {
  background-color: #000000;
}

div.provides {
  display: none;
}

div.planner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  div.planner {
    flex-direction: column;
  }
}

div.year > h1 {
  color: #ffffff;
}

div.module {
  padding: 10px;
  margin: 10px;
}

div.core > div.module {
  background-color: #990000;
}

div.optional > div.module {
  background-color: #aaaaaa;
}

div.optional > div.module > ul.requires,
div.optional > div.module > p {
  display: none;
}

div.optional > div.selected {
  background-color: #ff0000;
}
