---

---

$background-color: #000000;
$text-color: #ffffff; 
$black: #000000;
$red-color: #990000;
$grey-color: #aaaaaa;
$bright-red: #ff0000;

$red-warn: $bright-red;
$green-ok: #00cc00;

$module-font-size: 18px;

@import "_layout",
        "_style"

