{% for m in site.data.modules %}
  {% if m.code == code %}
    {% assign module = m %}
  {% endif %}
{% endfor %}

<h2>{{module.name}}</h2>
<div class="group">
    <a href="https://handbooks.data.cardiff.ac.uk/module/{{module.more-info}}.html" target="_blank">More info</a>
    <center1>{{module.code}}</center1>
    <aside>Credits:<span class="credit">{{module.credits}}</span></aside>
</div>

{% if module.provides %}
<div class="provides">
  {% for c in module.provides %}
   <span class="{{c}}"></span>
  {% endfor %}
</div>
{% endif %}

{% if module.requires %}
<p class="requires">Requires</p>
<ul class="requires">
  {% for c in module.requires %}
    {% for m in site.data.modules %}
      {% if m.code == c %}
        {% assign required = m %}
      {% endif %}
    {% endfor %}
    <li class="{{c}}">{{required.name}}</li>
  {% endfor %}
</ul>
{% endif %}
