{% for m in site.data.modules %}
  {% if m.requires contains code %}
    {% if provides %}
       {% assign provides = provides | append: " " | append: m.code %}
    {% else %}
       {% assign provides = m.code %}
    {% endif %}
  {% endif %}

  {% if m.code == code %}
    {% assign module = m %}
  {% endif %}

{% endfor %}

{% for l in site.data.language %}
     {% if page.lang == l.short %}
          {% assign lang = l %}
     {% endif %}
{% endfor %}

<h2>{{module.name}}</h2>
<h3>{{module.code | upcase}}</h3>
<div class="group">
    <a href="{{site.data.settings[info]}}{{module.more-info}}.html" target="_blank">{{lang.more-info}}</a>

    <aside>{{lang.credits}}:<span class="credit">{{module.credits}}</span></aside>
</div>

{% if provides %}
<div class="provides">
  {% assign provide_list = provides | split:" " %}
  {% for c in provide_list %}
   <span class="{{c}}"></span>
  {% endfor %}
</div>

{% assign provides = false %}
{% endif %}

{% if module.requires %}
<p class="requires">{{lang.requires}}</p>
<ul class="requires">
  {% for c in module.requires %}
    {% for m in site.data.modules %}
      {% if m.code == c %}
        {% assign required = m %}
      {% endif %}
    {% endfor %}
    <li class="{{c}}">{{required.name}}</li>
  {% endfor %}
</ul>
{% endif %}
