{% assign module = site.data.modules[code] %}

<h2>{{module.name}}</h2>

<a href="https://handbooks.data.cardiff.ac.uk/module/{{module.more-info}}.html" target="_blank">More info</a>

{% if module.provides %}
<div class="provides">
  {% for c in module.provides %}
   <span class="{{c}}"></span>
  {% endfor %}
</div>
{% endif %}

{% if module.requires %}
<p class="requires">Requires</p>
<ul class="requires">
  {% for c in module.requires %}
    <li class="{{c}}">{{site.data.modules[c].name}}</li>
  {% endfor %}
</ul>
{% endif %}
