{% for l in site.data.language %}
     {% if page.lang == l.short %}
          {% assign lang = l %}
     {% endif %}
{% endfor %}

<header class="site-header">
    <div class="group">

        <a class="site-title" href="{{ site.baseurl }}/{{lang.short}}/index.html">{{lang.change-deg}}</a>

        <aside>
            <p>
                <span class="theme">
                    {{lang.theme}}:
                    <select id="theme-chooser">
                        {% for theme in site.data.themes %}
                            <option value="{{theme.shortname}}">{{theme.name}}</option>
                        {% endfor %}
                    </select>
                </span>

                <span class="language">
                    {{lang.language}}:
                    <select id="lang-chooser">
                        {% for langu in site.data.language %}
                            <option value="{{langu.short}}/{{page.short}}.html">{{langu.name}}</option>
                        {% endfor %}
                    </select>
                </span>
            </p>
        </aside>
    </div>

    <div class="wrapper">
        <h1>{{course.name}}</h1>
        <h2 class="clear">{{lang.reset}}</h2>
    </div>
</header>
