div.wrapper {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

div.degree {
    position: absolute;
    left: 30%;
    width: 40%;

    img {
        float: left;
        width: 20%;
    }

    h1 {
        margin-left: 22%;
    }

    h2 {
        text-align: center;
        font-size: 25px;
    }

    div.course {
        h2 {
            flex-direction: row;
            max-width: none;
            margin: 5px;
        }
    }
}

div.group {
    aside {
        margin: 0 1.5%;
        width: 30%;
    }
    a {
        margin: 0 1.5%;
        width: 63%;
    }
}

div.landing {
    text-align: center;
}

div.provides {
    display: none;
}

div.planner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 640px) {

    div.wrapper {
        flex-direction: column;
    }
    div.planner {
        flex-direction: column;
    }

    div.degree {
        min-width: 100%;
        position: static;

        div.course {
            width: 100%;
        }
    }
}

div.year {
    flex-grow: 1;
}

div.module {
    max-width: 350px;
    padding: 10px;
    margin: 10px;

    h2 {
        font-size: $module-font-size;
    }
}

div.core {
    div.module {
        .requires {
            display: none;
        }
    }
}

div.optional {
    div.module {
        .requires {
            display: none;
        }
    }
}

div.topleft{
    height: 20px;
}
