div.wrapper {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

div.degree {
    position: absolute;
    left: 30%;
    width: 40%;

    h1{
        text-align: center;
    }

    div.course {
        h2 {
            flex-direction: row;
            padding: none;
            max-width: none;
        }
    }
}

div.course {
    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 350px;
        padding: 0;
        margin: 5px;
    }
}

div.group{
    aside {
        float: right;
        margin: 0 1.5%;
        width: 30%;
    }
}

div.group.a {
      float: left;
      margin: 0 1.5%;
      width: 63%;
}


div.landing {
    padding-top: 50px;
    text-align: center;

    img {
        padding: 10px;
        width: auto;
    }

    h1 {
        height: 30px;
    }
}

div.provides {
    display: none;
}

div.planner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    div.wrapper,
    div.planner {
        flex-direction: column;
    }

    div.degree {
        min-width: 100%;
        position: static;

        div.course {
            width: 100%;
        }
    }
}

div.year {
    flex-grow: 1;
}

div.module {
    max-width: 350px;
    padding: 10px;
    margin: 10px;

    h2 {
        font-size: $module-font-size;
    }
}

div.core {
    div.module {
        .requires {
            display: none;
        }
    }
}

div.optional {
    div.module {
        .requires {
            display: none;
        }
    }
}

div.topleft{
    height: 20px;
}
