* {

    h1 {
        font-size: $title-font-size;
    }
}

header.site-header {

    background-color: $middle-bg;
    border-bottom: $menu-border-style;
    @include box-shadow($shadow-style);

    div.group{

        a {
            color: $link;

            &:hover {
                color: $green-ok;
            }
        }

        aside {
            color: $link;
        }
    }
}

div.wrapper {

    h1 {
        color: $link;
        font-size: 2em;
    }

    h2.clear {
        color: $link;
        margin-top: 20px;
        @include box-style($middle-bg);
        padding-left: 10px;
        @include border-radius($corner-radius);
        background-color: $cardiff-dark;
        cursor:pointer;

        &:active {
            @include box-shadow($inset-shadow-style);
        }
    }
}

body {
    margin: 0;
    @include linear-gradient($background-style);
    background-size: 15px 15px;
    color: $text-color;

    h1, h2, h4, h5, h6 {
        color: darken($cardiff-bright, 15%);
    }

    h3 {
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 5px;
    }

    a {
        color: $white;

        &:hover {
            color: $green-ok;
            font-style: italic;
        }
    }
}

div.course {
    h2 {
        background-color: $cardiff-dark;
        font-size: 18px;
    }
}

div.degree {
    min-width: 400px;

    div.course {
        width: 350px;
        margin-top: 20px;
        padding: 10px !important;
        @include box-style($middle-bg);
        padding-left: 10px;
        @include border-radius($corner-radius);
        background-color: $cardiff-dark;
        cursor:pointer;

        &:active {
            @include box-shadow($inset-shadow-style);
        }
    }
}

div.module {

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

div.core {

    div.module {
        margin-top: 20px;
        @include box-style($middle-bg);
        padding-left: 30px;
        @include border-radius($corner-radius);
        background-color: $cardiff-dark;

        h2, h3 {
            color: $black;
        }
    }
}

div.optional {

    div.module {
        margin-top: 20px;
        @include box-style($middle-bg);
        padding-left: 30px;
        @include border-radius($corner-radius);
        background-color: $middle-bg;
        cursor:pointer;

        &:active {
            @include box-shadow($inset-shadow-style);
        }

        h2, h3 {
            color: $option-slected;
        }
    }

    div.selected {
        background-color: $cardiff-bright;
        cursor:pointer;

        h2, h3 {
            color: $black;
        }
    }
}

.ok {
    color: $green-ok;
}

.warn {
    color: $red-warn;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    background-color: $middle-bg;
    border-top: $menu-border-style;

    div.group{

        center {
            color: $link;
        }
    }
}
