* {

    h1 {
        font-size: $title-font-size;
    }
}

header.site-header {

    background-color: $middle-bg;
    border-bottom: $menu-border-style;
    @include box-shadow($shadow-style);

    div.group{

        a {
            color: $link;

            &:hover {
                color: $green-ok;
            }
        }

        aside {
            color: $link;
        }
    }
}

div.wrapper {
    align-items: baseline;

    h1 {
        color: $link;
        font-size: 2em;
        margin: 0;
    }

    h2.clear {
        color: $link;
        margin-top: 0;
        @include box-style($middle-bg);
        padding-left: 10px;
        @include border-radius($corner-radius);
        background-color: $clear;
        cursor:pointer;

        &:active {
            @include box-shadow($inset-shadow-style);
        }
    }
}

body {
    margin: 0;
    @include linear-gradient($background-style);
    background-size: 15px 15px;
    color: $text-color;

    h1, h2, h4, h5, h6 {
        color: darken($cardiff-bright, 15%);
    }

    h3 {
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 5px;
    }

    a {
        color: $white;

        &:hover {
            color: $hover;
            font-style: italic;
        }
    }
}



div.degree {

    div.course {
        width: auto;
        margin-top: 20px;
        padding: 10px !important;
        @include box-style($middle-bg);
        @include border-radius($corner-radius);
        background-color: $degree;
        cursor:pointer;

        &:active {
            @include box-shadow($inset-shadow-style);
        }

        a {

            h2 {
                font-size: 21px;
                color: $white;

                &:hover {
                    color: $hover;
                }
            }
        }
    }
}

div.module {

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

div.core {

    div.module {
        margin-top: 20px;
        @include box-style($middle-bg);
        padding-left: 30px;
        @include border-radius($corner-radius);
        background-color: $cardiff-dark;

        h2, h3 {
            color: $black;
        }
    }
}

div.optional {

    div.module {
        margin-top: 20px;
        @include box-style($middle-bg);
        padding-left: 30px;
        @include border-radius($corner-radius);
        background-color: $middle-bg;
        cursor:pointer;

        &:active {
            @include box-shadow($inset-shadow-style);
        }

        h2, h3 {
            color: $option-slected;
        }
    }

    div.selected {
        background-color: $cardiff-bright;
        cursor:pointer;

        h2, h3 {
            color: $black;
        }
    }
}

.ok {
    color: $green-ok;
}

.warn {
    color: $red-warn;
}

div.setting {
    color: $link;
}
