---
layout: default
---

{% assign lang = site.data.language[page.lang] %}

<div class="topleft">
        Theme:
        <select id="theme-chooser">
            {% for theme in site.data.themes %}
                <option value="{{theme.shortname}}">{{theme.name}}</option>
            {% endfor %}
        </select>

        Language:
        <select id="lang-chooser">
            {% for language in site.data.language %}
                {% assign langu = language[1] %}
                <option value="{{langu.short}}">{{langu.name}}</option>
            {% endfor %}
        </select>
</div>


<div class="degree">
    <img src="/res/Uni-Logo.png" alt="University Logo" align="middle"/>

    <h1>{{lang.school-name}}</h1>
    <br>
    <h2>{{lang.select-deg}}</h2>

    {% for course in site.data.courses %}

       <div class="course">
          <a href="{{lang.short}}/{{course.short}}.html"><h2>{{course.name}}</h2></a>
       </div>

    {% endfor %}
</div>
