---
layout: default
---

{% for c in site.data.courses %}
  {% if c.short == page.short %}
    {% assign course = c %}
  {% endif %}
{% endfor %}

{% include header.html %}

<div class="planner">

{% for year in course.modules %}
  <div class="year" id="year{{forloop.index}}">
    <h1>Year {{forloop.index}}</h1>
    <h3>Credits chosen: <span class="credit"></span></h3>

    <div class="core">
    {% for code in year.core %}

       <div class="module selected" id="{{code}}">
           {% include module_info.html %}
       </div>

    {% endfor %}
    </div>

    <div class="optional">
    {% for code in year.optional %}

       <div class="module" id="{{code}}">
           {% include module_info.html %}
       </div>

    {% endfor %}
    </div>
  </div>

{% endfor %}


</div>
