---
layout: default
---

<div class="topleft">
        Theme:
        <select id="theme-chooser">
            {% for theme in site.data.themes %}
                <option value="{{theme.shortname}}">{{theme.name}}</option>
            {% endfor %}
        </select>
</div>


<div class="degree">
    <img src="/res/Uni-Logo.png" alt="University Logo" align="middle"/>

    <h1>School of Mathematics</h1>
    <br>
    <h2>Please choose your degree scheme</h2>

    {% for course in site.data.courses %}

       <div class="course">
          <a href="{{course.short}}.html"><h2>{{course.name}}</h2></a>
       </div>

    {% endfor %}
</div>
